body{
    background-color: #19191a;
color: #fff;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
width: 80%;
line-height: 1.6em;
 margin:auto;
}
p{
color: #c5c3cd;

}
h1{
color: #fff;

}

h2{
color: #fff;

}
h3{
    color: #fff;
}
h4{
color: #fff;

}
h5{
    color: #fff;
}
a{
    color: #438be4;
}
nav{
font-size: 1.4em;

}

header{
 
    padding-top: 0.05em;
    padding-left: 1.3em;
    padding-bottom: 0.5em;
    letter-spacing: 0.1em;
    line-height: 0.5em;
    line-break: 0.5em;
       margin:0;

background-color: #438be4;

}
